services:
  react-app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NODE_VERSION: 24.12.0-alpine
        NGINX_VERSION: alpine3.22
    image: react-app-image
    container_name: react-app-container
    ports:
      - "8080:8080"
    restart: unless-stopped
