services:
  tanstack-start-app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NODE_VERSION: 24.12.0-alpine
    image: tanstack-start-image
    container_name: tanstack-start-container
    environment:
      NODE_ENV: production
      PORT: 3000
      HOST: 0.0.0.0
    ports:
      - "3000:3000"
    restart: unless-stopped
