services:
  angular-static:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NODE_VERSION: 24.11.1-alpine
        NGINX_VERSION: alpine3.22
        APP_NAME: angular
    image: angular-static-image
    container_name: angular-static-container
    ports:
      - '8080:8080'
    restart: unless-stopped

  angular-ssr:
    build:
      context: .
      dockerfile: Dockerfile.server
      args:
        NODE_VERSION: 24.11.1-alpine
        APP_NAME: angular
    image: angular-ssr-image
    container_name: angular-ssr-container
    environment:
      NODE_ENV: production
      PORT: 3000
    ports:
      - '3000:3000'
    restart: unless-stopped
