services:
  angular-static:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NODE_VERSION: 24.12.0-alpine
        NGINX_VERSION: alpine3.22
        APP_NAME: angular
    image: angular-static-image
    container_name: angular-static-container
    ports:
      - '8080:8080'
    restart: unless-stopped
