services:
  vue-app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NODE_VERSION: 24.11.1-alpine
        NGINX_VERSION: alpine3.22
    image: vue-image
    container_name: vue-container
    ports:
      - "8080:8080"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "-q", "--spider", "http://localhost:8080"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 5s

